body {
  background-color: black;
  font-family: 'Bangers', cursive;
}

section{
    width: 100vw;
    height: 100vh;
    perspective: 2000px;
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    -ms-perspective: 2000px;
    text-align: center;
  }

  .help-section {
    width: 45vw; 
    height: 0;
    padding-top: 45%;
    margin: auto 0;
    position: absolute;
    left: 20px;
    right: 50%;
    top: 0;
    bottom: 0;
    color: white;
    text-align: center;
    z-index: -8;
    overflow: hidden;
  }

  .help-section-mobile {
    display: none;
  }

  .help-section-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .inside-position {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inside-size {
    font-size: 3vw;
    letter-spacing: 2px;
  }

  .skyline-img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
  }

  .comic-issue {
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 8%;
  }

  .issue-title {
    color: #f5d742;
    font-size: 2vw;
    letter-spacing: 2px;
  }

  .positions {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1vw;
    color: white;
  }

  .title-container {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    height: 30%;
  }

  .name {
    font-family: 'Bangers', cursive;
    font-size: 3.8vw;
    letter-spacing: 7px;
    margin: 0;
    color: #f5d742;
    text-shadow: 2px 0 2px #000, -2px 0 2px #000, 0 -2px 2px #000, 0 2px 2px #000;
  }


  .smaller-name {
    font-family: 'Bangers', cursive;
    font-size: 1.5vw;
    letter-spacing: 7px;
    margin: 0;
    color: #f5d742;
    text-shadow: 2px 0 2px #000, -2px 0 2px #000, 0 -2px 2px #000, 0 2px 2px #000;
  }

  .hackerman-gif {
    opacity: .2;
    position: absolute;
    left: 15%;
    top: 43%;
    width: 50%;
    height: auto;
  }

  .div-container{
    width: 40vw; 
    height: 0;
    padding-top: 45%;
    margin: auto 0;
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    border: 10px solid white;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .div1 {
    background-color: rgb(6, 9, 43);
    background-image: -webkit-radial-gradient(bottom,60% 35%,white,white,rgba(255,255,255, .3),rgba(255,255,255, .2), rgba(255,255,255, .1), rgba(0,0,0, 0));
    background-image: radial-gradient(60% 35% at bottom,white,white,rgba(255,255,255, .3),rgba(255,255,255, .2), rgba(255,255,255, .1), rgba(0,0,0, 0));
    transform-origin: left center;
    transition: 1s;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    text-shadow: none;
    -webkit-animation: bg-change 20s infinite;
    -moz-animation: bg-change 20s infinite;
    -ms-animation: bg-change 20s infinite;
    animation: bg-change 20s infinite;
  }

  @keyframes bg-change {
    0%, 100% { background-color: rgb(92, 162, 255); }
    16.66% { background-color: rgb(51, 84, 194); }
    33.33% { background-color: rgb(9, 26, 82); }
    50% { background-color: rgb(6, 9, 43); }
    66.66% { background-color: rgb(9, 26, 82); }
    83.33% { background-color: rgb(51, 84, 194); }
  }

  .div1back {
    transform-origin: left center;
    transition: 1s;
    z-index: 1;
  }

  .div-small-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }

  .div2 {
    transform-origin: left center;
    transition: 1s;   
    z-index: 0;
  }

  .div-small-front-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }

  .div2back {
    transform-origin: left center;
    transition: 1s;
    z-index: -1;
  }

  .div3 {
    transform-origin: left center;
    transition: 1s;   
    z-index: -2;
  }

  .div3back {
    transform-origin: left center;
    transition: 1s;
    z-index: -3;
  }

  .div4 {
    transform-origin: left center;
    transition: 1s;   
    z-index: -4;
  }

  .div4back {
    transform-origin: left center;
    transition: 1s;
    z-index: -5;
  }

  .div5 {
    transform-origin: left center;
    transition: 1s;   
    z-index: -6;
  }

  .div-active{
    transform: rotateY(-180deg);
    -webkit-animation: divactive 5s forwards;
    -moz-animation: divactive 5s forwards;
    -ms-animation: divactive 5s forwards;
    animation: divactive 5s forwards;
  }

  /* .div-active-mobile{
    transform: rotateY(-180deg);
    -webkit-animation: divactive 5s forwards;
    -moz-animation: divactive 5s forwards;
    -ms-animation: divactive 5s forwards;
    animation: divactive 5s forwards;
  } */

/* .div-reverse-rotate {
    transform: rotateY(180deg);
    -webkit-animation: divactive 2s forwards;
    -moz-animation: divactive 2s forwards;
    -ms-animation: divactive 2s forwards;
    animation: divactive 2s forwards;
  } */

  @keyframes divactive {
    0% {
      z-index: 1;
    }
    100% {
      z-index: -7;
    }
  }

  .div1-reverse {
    background: #abc;
    transform-origin: right center;
    transition: 1s;
    z-index: 1;
  }

  p {
    font-size: 20px;
  }

  .contact-title {
    margin: 10px;
  }

  form {
    width: 100%;
    height: 100%;
  }

  input {
    display: block;
    width: 75%;
    height: 8%;
    margin: 3% auto;
    font-size: 2.3vw;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    color: black;
    font-family: 'Bangers', cursive;
    transition: all .3s ease-in-out;
  }

  input::placeholder {
    color: black;
    font-family: 'Bangers', cursive;
  }

  input:focus {
    outline: none;
  }

  textarea {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; 
      width: 75%;
      height: 40%;
      padding: 15px;
      margin: 3% auto;
      display: block;
      font-size: 2.3vw;
      text-align: center;
      resize: none;
      background-color: white;
      border: 2px solid black;

      font-family: 'Bangers', cursive;
      color: black;
      transition: all .3s ease-in-out;
  }

  textarea::placeholder {
    color: black;
    font-family: 'Bangers', cursive;
  }

  ::-webkit-input-placeholder {
    opacity: .3;
  }
  ::-moz-placeholder {
    opacity: .3;
  }
  :-ms-input-placeholder {
    opacity: .3;
  }
  :-moz-placeholder {
    opacity: .3;
  }

  .input-button {
    width: 15%;
    height: 8%;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    font-size: 2.3vw;
    display: block;
    margin: 0 auto;
    background-color: white;
    transition: all .3s ease-in-out;
    font-family: 'Bangers', cursive;
  }

  .input-button:focus {
    outline: none;
  }
  
  .input-button:hover {
    background-color: #f5d742;
    color: black;
    transform: scale(1.2);
  }
  
  input:focus {
    outline: none;
  }
  
  textarea:focus {
    outline: none;
  }

  .addinfo-div {
    margin: 35% auto;
  }

  .add-info {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 2;
    font-size: 2vw;
  }

  .panel {
    padding: 5px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
  }

  .first-panel {
    height: 40%;
    border-bottom: 10px solid white;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }

  .yellow-textbox {
    background-color: #f5d742;
    padding: 10px;
    border: 2px solid black;
    transition: all .3s ease-in-out;
    font-size: 1.3vw;
    line-height: 1.3;
  }

  .second-panel {
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
    float: left;
    height: 60%;
    width: 50%;
    border-right: 10px solid white;
  }

  .third-panel {
    float: right;
    height: 60%;
    width: 50%;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }
  
  .fourth-panel {
    float: left;
    height: 60%;
    width: 50%;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }

  .fifth-panel {
    float: right;
    height: 60%;
    width: 50%;
    border-bottom: 10px solid white;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }

  .to-bottom {
    position: absolute;
    bottom: 1%;
    right: 1%;
  }

  .sixth-panel {
    clear: both;
    height: 40%;
    width: 100%;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }

  .eighth-panel {
    float: left;
    height: 50%;
    width: 50%;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }

  .ninth-panel {
    float: right;
    height: 50%;
    width: 50%;
    border-bottom: 10px solid white;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }

  .tenth-panel {
    float: left;
    height: 50%;
    width: 50%;
    border-right: 10px solid white;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }

  .eleventh-panel {
    float: right;
    height: 50%;
    width: 50%;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }

  .fourteenth-panel {
    width: 100%;
    height: 40%;
    border-bottom: 10px solid white;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }

  .fifteenth-panel {
    width: 100%;
    height: 60%;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }

  .seventeenth-panel {
    height: 20%;
  }

  .eighteenth-panel {
    float: left;
    width: 25%;
    height: 40%;
  }

  .nineteenth-panel {
    float: left;
    width: 25%;
    height: 40%;
  }

  .twentieth-panel {
    float: left;
    width: 25%;
    height: 40%;
  }

  .twentyfirst-panel {
    float: right;
    width: 25%;
    height: 40%;
  }

  .twentysecond-panel {
    float: left;
    width: 25%;
    height: 40%;
  }

  .twentythird-panel {
    float: left;
    width: 25%;
    height: 40%;
  }

  .twentyfourth-panel {
    float: left;
    width: 25%;
    height: 40%;
  }

  .twentyfifth-panel {
    float: right;
    width: 25%;
    height: 40%;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-shadow: 2px 0 2px #000, -2px 0 2px #000, 0 -2px 2px #000, 0 2px 2px #000;
    font-size: 3vw;
    margin: 20px;
    transition: all .3s ease-in-out;
  }

  a:hover {
    transform: scale(1.3);
  }

  .external-links:hover {
    color: #f5d742;
  }

  .project1-div {
    width: 50%;
    height: 50%;
    float: left;
    margin: auto; 
  }

  .project2-div {
    width: 50%;
    height: 50%;
    float: right;
    margin: auto; 
  }

  .project3-div {
    width: 50%;
    height: 50%;
    float: left;
    margin: auto; 
  }

  .project4-div {
    width: 50%;
    height: 50%;
    float: right;
    margin: 0 auto; 
  }

  .project-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px solid black;

  }
  
  .project-desc {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5px;
    font-size: 25px;
  }
  
  .project-name {
    font-size: 20px;
    color: white;
    margin: 5px;
  }
  
  .project-name2 {
    font-size: 10px;
    color: white;
    margin: 5px;
  }
  
  .indiv-container {
    width: 80%;
    height: auto;
  }
  
  .indiv-container:hover .project-desc {
    visibility: visible;
    opacity: 1;
  }

  .icons {
    margin-top: 20px;
  }

  .inside-panel-img {
    height: 65%;
    width: 100% 
  }

  .panel1-img {
    display: block;
    height: 80%;
  }

  .panel2-gif {
    display: block;
    height: auto;
    width: 70%;
    margin: 20% auto;
  }

  .panel3-gif {
    display: block;
    height: 50%;
    width: auto;
    margin: 20% auto;
  }

  .panel4-img {
    display: block;
    height: 90%;
    width: auto;
    margin: 2% auto;
  }

  .panel5-img {
    display: block;
    height: 70%;
    width: auto;
    margin: 15% auto;
  }

  .panel5a-img {
    display: block;
    height: 70%;
    width: auto;
    margin: 2% auto;
  }

  .panel8-img {
    display: block;
    height: auto;
    width: 70%;
    margin: 10% auto;
  }

  .panel9-img {
    display: block;
    height: 80%;
    width: auto;
    margin: 2% auto;
  }

  .panel10-gif {
    display: block;
    height: auto;
    width: 80%;
    margin: 5% auto;
  }

  .panel11-img {
    display: block;
    height: auto;
    width: 80%;
    margin: 5% auto;
  }
  
  .panel13-img {
    display: block;
    height: auto;
    width: 70%;
    margin: 2% auto;
  }

  .hackerman-div {
    width: 100%;
    height: auto;
  }

  .hackerman-last {
    display: block;
    width: 80%;
    height: auto;
    margin: 20% auto;
  }

  .profile-img {
    display: block;
    height: 60%;
    margin: auto;
  }

  .profile {
    width: 100%;
    font-size: 2.3vw;
    margin: 5px;
    line-height: 1.2;
    animation: profilepop 2s infinite;
    margin: 0 auto;
    text-align: center;
  }

  @keyframes profilepop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .hackerman-title {
    padding: 20px;
    color: transparent;
    background: linear-gradient(-45deg, #f21f13, #27cc7f, #1340f2);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-size: 400% 400%;
    -webkit-animation: gradient-change 10s linear infinite;
    -moz-animation: gradient-change 10s linear infinite;
    animation: gradient-change 10s linear infinite;
  }

  @-webkit-keyframes gradient-change {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes gradient-change {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient-change {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.skill-icons {
  font-size: 4vw;
}

.icon-div {
  display: inline-block;
  margin: 1vw;
}

.postcript {
  margin: 5px;
}

.webapp-links {
  font-size: 10px;
  margin: 0;
}

@media only screen and (max-width: 1000px)  {
  .help-section {
    display: none;
  }

  .help-section-mobile {
    display: block;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    color: white;
  }

  .mobile-btn {
    width: 200px;
    height: 100px;
    background-color: white;
    font-size: 5vw;
    font-family: 'Bangers', cursive;
    margin: 0 5px;
    padding: 10px;
  }

  .div-container{
    width: 80vw; 
    height: 0;
    padding-top: 90%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    border: 10px solid white;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  /* .div-small-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(0deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  } */

  .div1back {
    transform-origin: center;
    transition: 1s;
    z-index: 1;
  }

  .div2 {
    transform-origin: center;
    transition: 1s;   
    z-index: 0;
  }

  .div2back {
    transform-origin: center;
    transition: 1s;
    z-index: -1;
  }

  .div3 {
    transform-origin: center;
    transition: 1s;   
    z-index: -2;
  }

  .div3back {
    transform-origin: center;
    transition: 1s;
    z-index: -3;
  }

  .div4 {
    transform-origin: center;
    transition: 1s;   
    z-index: -4;
  }

  .div4back {
    transform-origin: center;
    transition: 1s;
    z-index: -5;
  }

  .div5 {
    transform-origin: center;
    transition: 1s;   
    z-index: -6;
  }

}