body {
  background-color: black;
  font-family: 'Bangers', cursive;
}

section{
    width: 100vw;
    height: 100vh;
    perspective: 2000px;
    -webkit-perspective: 2000px;
    text-align: center;
  }

  .help-section {
    width: 45vw; 
    height: 56.25vw;
    max-height: 90vh;
    max-width: 177.78vh;
    margin: auto 0;
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    font-size: 40px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    line-height: 90vh;
    z-index: -8;
  }

  .help-p {
    font-size: 35px;
  }

  .help-section > p {
    margin: 0;
  }

  .skyline-img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
  }

  .comic-bubbles {
    width: 13%;
    height: 13%;
    margin: 20px;
  }

  .bubble1 {
    left: 10%;
    animation: bubble-pop 2.5s ease infinite;
  }

  .bubble2 {
    left: 38%;
    animation: bubble-pop 2.7s ease infinite;

  }

  .bubble3 {
    left: 70%;
    animation: bubble-pop 2.6s ease infinite;

  }

  @keyframes bubble-pop {
    0% {
      transform: scale(0);
    }

    5% {
      transform: scale(1.3);
    }
    20% {
      transform: scale(.9);
    }

    40% {
      transform: scale(1.3);
    }

    60% {
      transform: scale(.9);
    }

    80% {
      transform: scale(1.3);
    }

    100% {
      transform: scale(0);
    }
    
  }

  .hackerman-gif {
    opacity: .2;
    position: absolute;
    left: 15%;
    top: 45%;
    width: 50%;
    height: auto;
  }

  .div-container{
    width: 45vw; 
    height: 56.25vw;
    max-height: 90vh;
    max-width: 177.78vh;
    margin: auto 0;
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 0;
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(6, 9, 43);
    text-align: center;
    border: 10px solid white;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .div1 {
    background-color: rgb(6, 9, 43);
    background-image: -webkit-radial-gradient(bottom,60% 35%,white,white,rgba(255,255,255, .3),rgba(255,255,255, .2), rgba(255,255,255, .1), rgba(0,0,0, 0));
    background-image: radial-gradient(60% 35% at bottom,white,white,rgba(255,255,255, .3),rgba(255,255,255, .2), rgba(255,255,255, .1), rgba(0,0,0, 0));
    transform-origin: left center;
    transition: 1s;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-shadow: none;
    -webkit-animation: bg-change 20s infinite;
    -moz-animation: bg-change 20s infinite;
    animation: bg-change 20s infinite;
  }

  @keyframes bg-change {
    0%, 100% { background-color: rgb(6, 9, 43); }
    16.66% { background-color: rgb(9, 26, 82); }
    33.33% { background-color: rgb(20, 47, 134); }
    50% { background-color: rgb(92, 162, 255); }
    66.66% { background-color: rgb(20, 47, 134); }
    83.33% { background-color: rgb(9, 26, 82); }
  }

  .div1back {
    transform-origin: left center;
    transition: 1s;
    z-index: 1;
  }

  .div-small-container {
    background: #cba;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }

  .div-small-container > h1 {
    margin: 0;
  }

  .div2 {
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
    transform-origin: left center;
    transition: 1s;   
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .div2back {
    transform-origin: left center;
    transition: 1s;
    z-index: -1;
  }

  .div3 {
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
    transform-origin: left center;
    transition: 1s;   
    z-index: -2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .div3back {
    transform-origin: left center;
    transition: 1s;
    z-index: -3;
  }

  .div4 {
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
    transform-origin: left center;
    transition: 1s;   
    z-index: -4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .div4back {
    transform-origin: left center;
    transition: 1s;
    z-index: -5;
  }

  .div5 {
    background-image: radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
    transform-origin: left center;
    transition: 1s;   
    z-index: -6;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .div-active{
    transform: rotateY(-180deg);
    animation: divactive 5s forwards;
  }

.div-reverse-rotate {
    transform: rotateY(180deg);
    animation: divactive 2s forwards;
  }

  @keyframes divactive {
    0% {
      z-index: 1;
    }
    100% {
      z-index: -7;
    }
  }

  .div1-reverse {
    background: #abc;
    transform-origin: right center;
    transition: 1s;
    z-index: 1;
  }

  .comic-issue {
    background-color: black;
    height: 50px;
  }

  .issue-title {
    margin: auto 0;
    font-size: 30px;
    /* color: #690404; */
    color: #f5d742;
    line-height: 50px;
  }

  .name {
    /* letter-spacing: 4px; */
    /* background-color: rgba(0, 0, 0, .3); */
    /* padding: 10px; */
    /* font-family: 'Metal Mania', cursive; */
    /* font-family: 'Montserrat Subrayada', sans-serif; */
    font-family: 'Bangers', cursive;
    letter-spacing: 8px;
    margin: 0;
    /* font-family: 'Monoton', cursive; */
    color: #f5d742;
    text-shadow: 2px 0 2px #000, -2px 0 2px #000, 0 -2px 2px #000, 0 2px 2px #000;
    /* color: transparent; */
    /* background: linear-gradient(-45deg, #1ed2f4, #2b2b3a, #eafc40);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-size: 400% 400%;
    -webkit-animation: gradient-change 10s linear infinite;
    -moz-animation: gradient-change 10s linear infinite;
    animation: gradient-change 10s linear infinite; */
  }

  @-webkit-keyframes gradient-change {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes gradient-change {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient-change {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

  p {
    font-size: 20px;
  }

  .contact-title {
    margin: 10px;
  }

  input {
    display: block;
    width: 75%;
    height: 8%;
    margin: 20px auto;
    font-size: 30px;
    text-align: center;
    /* background-color: #B77451; */
    background-color: white;
    border: 2px solid black;
    color: black;
    /* border-bottom: 2px solid black; */
    /* border-radius: 5px; */
    /* box-shadow: 8px 8px 10px -3px rgba(0, 0, 0, .8); */
    font-family: 'Bangers', cursive;
    transition: all .3s ease-in-out;
  }

  input::placeholder {
    color: black;
    font-family: 'Bangers', cursive;
  }

  input:focus {
    outline: none;
  }

  textarea {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; 
      width: 75%;
      height: 40%;
      padding: 15px;
      margin: 20px auto;
      display: block;
      font-size: 30px;
      text-align: center;
      resize: none;
      background-color: white;
      border: 2px solid black;

      font-family: 'Bangers', cursive;
      color: black;
      transition: all .3s ease-in-out;
  }

  textarea::placeholder {
    color: black;
    font-family: 'Bangers', cursive;
  }

  ::-webkit-input-placeholder {
    opacity: .3;
  }
  ::-moz-placeholder {
    opacity: .3;
  }
  :-ms-input-placeholder {
    opacity: .3;
  }
  :-moz-placeholder {
    opacity: .3;
  }

  .input-button {
    width: 15%;
    height: 8%;
    /* border: 1px solid black; */
    border: 2px solid black;
    /* border-radius: 5px; */
    text-decoration: none;
    color: black;
    font-size: 30px;
    /* line-height: 50px; */
    display: block;
    margin: 0 auto;
    background-color: white;
    transition: all .3s ease-in-out;
    font-family: 'Bangers', cursive;
  }

  .input-button:focus {
    outline: none;
  }
  
  .input-button:hover {
    background-color: #f5d742;
    color: black;
    transform: scale(1.2);
  }
  
  input:focus {
    outline: none;
  }
  
  textarea:focus {
    outline: none;
  }

  .add-info {
    margin-top: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 35%;
    line-height: 2;
    font-size: 20px;
  }

  .panel {
    padding: 5px;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
  }

  .first-panel {
    height: 40%;
    /* float: left; */
    border-bottom: 10px solid white;
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }

  .yellow-textbox {
    background-color: #f5d742;
    padding: 10px;
    border: 2px solid black;
    transition: all .3s ease-in-out;
    /* -webkit-transform: skew(-10deg); 
    -moz-transform: skew(-10deg); 
    transform: skew(-10deg); */
  }

  .second-panel {
    /* display: flex; */
    /* background-image:radial-gradient(circle, yellow, orange); */
    /* background-image:radial-gradient(circle, rgb(250, 162, 162), rgb(248, 90, 62)); */
    /* background-image:radial-gradient(circle, rgb(79, 88, 163), rgb(6, 9, 43)); */
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
    float: left;
    height: 60%;
    width: 50%;
    /* border-bottom: 10px solid white; */
    border-right: 10px solid white;
  }

  .third-panel {
    /* display: flex; */
    float: right;
    height: 60%;
    width: 50%;
    /* border-right: 10px solid white; */
    background-image:radial-gradient(circle, rgb(174, 231, 250), rgb(4, 160, 212));
  }
  
  .fourth-panel {
    height: 60%;
    border-bottom: 10px solid white;
  }

  .fifth-panel {
    height: 40%;
  }

  .to-bottom {
    position: absolute;
    bottom: 1%;
    right: 1%;
  }

  .sixth-panel {}

  .fourteenth-panel {
    float: left;
    width: 50%;
    height: 50%;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
  }

  .fifteenth-panel {
    float: right;
    width: 50%;
    height: 50%;
    border-bottom: 10px solid white;
  }

  .sixteenth-panel {
    float: left;
    width: 50%;
    height: 50%;
    border-right: 10px solid white;
  }

  .seventeenth-panel {
    height: 20%;
    border-bottom: 10px solid white;
  }

  .eighteenth-panel {
    float: left;
    width: 25%;
    height: 40%;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
  }

  .nineteenth-panel {
    float: left;
    width: 25%;
    height: 40%;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
  }

  .twentieth-panel {
    float: left;
    width: 25%;
    height: 40%;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
  }

  .twentyfirst-panel {
    float: right;
    width: 25%;
    height: 40%;
    border-bottom: 10px solid white;
  }

  .twentysecond-panel {
    float: left;
    width: 25%;
    height: 40%;
    border-right: 10px solid white;
  }

  .twentythird-panel {
    float: left;
    width: 25%;
    height: 40%;
    border-right: 10px solid white;
  }

  .twentyfourth-panel {
    float: left;
    width: 25%;
    height: 40%;
    border-right: 10px solid white;
  }

  .twentyfifth-panel {
    float: right;
    width: 25%;
    height: 40%;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-shadow: 2px 0 2px #000, -2px 0 2px #000, 0 -2px 2px #000, 0 2px 2px #000;
    font-size: 40px;
    margin: 20px;
    transition: all .3s ease-in-out;
  }

  a:hover {
    transform: scale(1.3);
  }

  .external-links:hover {
    color: #f5d742;
  }


  .project-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 8px 8px 10px -3px rgba(0, 0, 0, .8);

  }
  
  .project-desc {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5px;
    font-size: 25px;
  }
  
  .project-name {
    font-size: 20px;
    color: white;
    margin: 5px;
  }
  
  .project-name2 {
    font-size: 10px;
    color: white;
    margin: 5px;
  }
  
  .indiv-container {
    position: relative;
    margin: 25% auto;
  }
  
  .indiv-container:hover .project-desc {
    visibility: visible;
    opacity: 1;
  }

  .icons {
    margin-top: 20px;
  }

  .panel1-img {
    display: block;
    height: 50%;
    width: auto;
    margin: 5% auto;
  }

  .panel2-gif {
    display: block;
    height: auto;
    width: 70%;
    margin: 20% auto;
  }

  .panel3-gif {
    display: block;
    height: 50%;
    width: auto;
    margin: 20% auto;
  }

  .panel4-img {
    display: block;
    height: 90%;
    width: auto;
    margin: 2% auto;
  }

  .panel5-img {
    display: block;
    height: 70%;
    width: auto;
    margin: 2% auto;
  }

  .hackerman-div {
    width: 100%;
    height: 100%;
  }

  .hackerman-last {
    position: absolute;
    bottom: 5%;
    display: block;
    width: 60%;
    height: auto;
    margin: 0 auto;
  }

  .profile {
    width: 100%;
    font-size: 30px;
    margin: 5px;
    line-height: 1.2;
    animation: profilepop 2s infinite;
    margin: 0 auto;
    text-align: center;
  }

  @keyframes profilepop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }